<ion-content [fullscreen]="true">
  <div fxLayout="row" fxLayoutAlign="space-between center" style="padding: 5px">
    <div fxLayout="row">
      <ion-buttons slot="start">
        <ion-back-button
          [text]="getBackButtonText()"
          defaultHref="/"
        ></ion-back-button>
      </ion-buttons>
      <div>
        <h3>
          {{ cryptoDetail.symbol | uppercase }}
        </h3>
      </div>
    </div>
    <div
      fxLayout="row"
      fxLayoutAlign="center center"
      class="crypto-fav-icon"
    >
      <ion-icon (click)="setFav(!this.cryptoDetail?.fav)" name="star-outline" [class]="this.cryptoDetail?.fav ? 'fav' : 'not-fav'"></ion-icon>
    </div>
  </div>
  <div fxLayout="row" style="padding: 15px">
    <div style="height: 40px; width: 40px; border: 1px solid #dee2e6;margin-top:5px">
      <ion-img slot="start" [src]="cryptoDetail.image.small" style="padding: 5px;"></ion-img>
    </div>

    <ion-label class="ion-text-wrap" style="padding-left: 15px;">
      <span class="detail-caption">Current Price</span>
      <h2 class="sub-section">
        &#8377; {{ cryptoDetail.market_data.current_price.inr }}
        <span
          *ngIf="cryptoDetail"
          [class]="
            cryptoDetail?.market_data.price_change_percentage_24h > 0
              ? 'price-up'
              : 'price-down'
          "
        >
          <ion-icon
            name="caret-up-outline"
            style="color: green"
            *ngIf="cryptoDetail?.market_data.price_change_percentage_24h > 0"
          ></ion-icon>
          <ion-icon
            name="caret-down-outline"
            style="color: red"
            *ngIf="cryptoDetail?.market_data.price_change_percentage_24h < 0"
          ></ion-icon>
          {{
            cNumber(
              cryptoDetail?.market_data.price_change_percentage_24h
            ).toFixed(2)
          }}%
        </span>
      </h2>
    </ion-label>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="sub-price-section">
    <div>
      <span class="detail-caption" >24H Highest</span>
      <span class="detail-caption-price m-l-10">&#8377; {{cryptoDetail.market_data.low_24h.inr}}</span>
    </div>
    <span  style="color: #6b778c;">|</span>
    <div>
      <span class="detail-caption">24H Lowest</span>
      <span class="detail-caption-price m-l-10">&#8377; {{cryptoDetail.market_data.high_24h.inr}}</span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <app-price-vloume-chart *ngIf="chartData; else loadGraph" [volumeData]="chartData?.total_volumes" [priceData]="chartData?.prices"></app-price-vloume-chart>
    <ng-template #loadGraph>
      <ion-spinner color="primary" class="spinner"></ion-spinner>
    </ng-template>
  </div>
  <div fxLayout="column">
    <h2 style="padding: 10px;">About  {{ cryptoDetail.symbol | uppercase }}</h2>
    <ion-list>
      <ion-item>
        <ion-label slot="start">Market Rank</ion-label>
        <ion-label slot="end">#{{ cryptoDetail?.market_cap_rank}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label slot="start">Market Cap</ion-label>
        <ion-label slot="end">&#8377; {{ cryptoDetail?.market_data.market_cap.inr}}</ion-label>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item>
        <ion-label slot="start">Circulating Supply</ion-label>
        <ion-label slot="end">{{cryptoDetail?.market_data.circulating_supply}} {{ cryptoDetail.symbol | uppercase }}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
